<div id="activities-evaluations">

    <!-- Display Exercices -->
    <div id="dfasm" style="display: none;">
        <div class="panel panel-default">
            <div class="fullframe" style="position: relative">
                <div class="btn btn-warning popout"><a data-ng-click="ics.openFullscreen()">{{ 'fullpage'|trans({}, 'resource') }}</a></div>
                <div class="btn btn-warning popin"><a data-ng-click="ics.closeFullscreen()">{{ 'close'|trans({}, 'platform') }}</a></div>

                <div
                    ng-repeat="itemSelected in ics.itemSelector.items"
                    tab-content>
                </div>
                <!--
                {% for item in form.items %}
                    {% set tabs = tabs ~ _self.tabs(loop.index) %}
                    {% set tabcontent = tabcontent ~ _self.tabcontent(loop.index, item.resourceNode.vars.value) %}
                {% endfor %}
                {{ tabcontent | raw  }}
              -->
            </div>
        </div>
    </div>

</div>
