<form novalidate method="post" name="ISForm">
    <div class="panel-body" id="text_content">
        <div class="form-group" data-ng-class="{ 'has-error': !ISForm.mainresource.$valid }">
            <div class="col-md-3"><label for="mainresource">{{ 'resource.to_open'|trans:{}:'resource' }}</label></div>
            <div class="input-group col-md-9">
                <input type="text"
                    class="form-control text-center"
                    name="mainresource"
                    id="mainresource"
                    data-ng-model="isc.itemSelectorMain.name" />
                <div class="input-group-btn">
                    <btn-resource-picker class="btn btn-default" data-parameters="isc.resourcePicker" data-container="body">
                        <span class="fa fa-folder-open"></span>
                        <span class="sr-only">{{ 'select_main_resource'|trans:{}:'resource' }}</span>
                    </btn-resource-picker>
                </div>
            </div>
        </div>

        <div data-ng-class="form-group">
            <div class="col-md-12"><label for="mainresource">{{ 'dfasm_items'|trans:{}:'resource' }}</label></div>
            <div class="col-md-12">
                <ul class="isel-item">
                    <li class="item" data-ng-model="itemSelected"
                        data-ng-repeat="itemSelected in isc.itemSelectorItems"
                        items-list>
                    </li>
                </ul>
            </div>
        </div>
        <button type="button"
            class="btn btn-default"
            data-ng-click="isc.addItem()">{{ 'add'|trans:{}:'platform' }}</button>
    </div>

    <div class="panel-footer">
        <button type="submit" class="btn btn-primary" data-ng-click="isc.saveItemSelector(ISForm)">{{ 'save'|trans:{}:'platform' }}</button>
<!-- isc.itemSelectorItems= {{isc.itemSelectorItems|debug}}<br><br> -->
        <button type="button" class="btn btn-default show-exercices"
            data-ng-if="isc.itemSelectorItems.length>0"
            data-ng-click="isc.showItems()"
            data-toggle="tooltip"
            title="{{ 'resources.watch'|trans:{}:'resource'}}">
            <span class="fa fa-eye"></span> {{ 'resources.watch'|trans:{}:'resource' }}
        </button>
    </div>
</form>
