<div id="activities-evaluations">

    <!-- Display Exercices -->
    <div id="dfasm" style="display: none;">
        <div class="panel panel-default">
            <div class="fullframe" style="position: relative">
                <div class="popout btn btn-warning"><a>{{ 'fullpage'|trans({}, 'resource') }}</a></div>
                <div class="popin btn btn-warning"><a>{{ 'close'|trans({}, 'platform') }}</a></div>

                {% set tabs = "" %}
                {% set tabcontent = "" %}
                {% for item in form.items %}
                    {% set tabs = tabs ~ _self.tabs(loop.index) %}
                    {% set tabcontent = tabcontent ~ _self.tabcontent(loop.index, item.resourceNode.vars.value) %}
                {% endfor %}
                <ul class="nav nav-tabs">{{ tabs | raw  }}</ul>
                {{ tabcontent | raw  }}
            </div>
        </div>
    </div>

</div>
