.isel-item { list-style-type:none}

iframe {
    display: block;                 /* iframes are inline by default */
    height: 100vh !important;        /* Viewport-relative units */
}
.popout{
    display: block; position: absolute; top: 10px; right: 10px; padding: 3px;
}
.popin{
    position: fixed; top: 10px; right: 10px; padding: 3px; z-index: 10001;
}

.showfull {position: fixed;top: 0;left: 0;width:100%;height: 100vh;z-index: 10000}
.isc-notfullscreen{
    position:relative;
}
.isc-fullscreen{
    position:fixed;top:0;left:0;width:100%;height:100%;background-color:#c0c0c0;z-index:10000
}
